{
    BOT_TOKEN=adad,
    WEBHOOK_LOGS_URL=https://discord.com/api/webhooks/1461976125029744761/kZ0iFfWJTt2P0CdwB8No5gPZYzYzN0vGhcFSdLU_ywKQpXdhu_xs6OEOTZMCTkDWiIHr,
    GUILD_ID=1243741812108165272
}